<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido a Petitos Shop</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/img/">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/c328687099.js" crossorigin="anonymous"></script>
    <link href="/your-path-to-fontawesome/css/fontawesome.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <header>
        <nav>
            <div class="nav-bar">
                <i class='bx bx-menu sidebarOpen'></i>
                <span class="logo"><a href="#">PetitosShop</a></span>

                <div class="menu">
                    <div class="logo-toggle">
                        <span class="logo"><a href="#">PetitosShop</a></span>
                        <i class='bx bx-x sidebarClose'></i>
                    </div>

                    <ul class="nav-links">
                        <li><a href="/">Inicio</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="/login">Ingresa</a></li>
                        <li><a href="/register">Registrate</a></li>
                        <li><a href="#">Productos</a></li>
                    </ul>
                </div>
                <div class="conteiner-searchBox">
                    <div class="searchToggle">
                        <i class='bx bx-x cancel'></i>
                        <i class='bx bx-search search'></i>

                        <div class="search-field">
                            <input type="text" placeholder="Buscar...">
                            <i class='bx bx-search'></i>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <script src="/scripts/script.js"></script>
    </header>
    <main class="products-home">
        <!-------------------------------SECCIONES POR MASCOSTAS------------------------------------>
        <section class="selecion-por-mascota">
            <h2 class="selecion-por-mascota-titulo">COMPRAR POR MASCOTA</h2>
            <div class="selecionar-por-mascota">

                <div class="card">
                    <a href=""><img src="/img/casa/perro.jpg"></a>
                    <span>PERROS</span>
                </div>

                <div class="card">
                    <a href=""><img src="/img/casa/gatos.jpg"></a>
                    <span>GATOS</span>
                </div>

                <div class="card">
                    <a href=""><img src="/img/casa/conejo.jpg"></a>
                    <span>ROEDORES</span>
                </div>

                <div class="card">
                    <a href=""><img src="/img/casa/seccion-peces.jpg"></a>
                    <span>ACUARIO</span>
                </div>

                <div class="card">
                    <a href=""> <img src="/img/casa/seccion-aves.jpg"></a>
                    <span>AVES</span>
                </div>

                <div class="card">
                    <a href=""><img src="/img/casa/seccion-reptiles.jpg"></a>
                    <span>REPTILES</span>
                </div>
            </div>
        </section>
        <!--PRODUCTOS----------------->
        <section class="lo-destacado">
            <h3>LO DESTACADO</h3>
            <div class="productos">
                <div class="cuerpo-tarjeta">
                    <div class="foto">
                        <img src="/img/collares/collar 7.JPG" alt="">
                    </div>
                    <div class="descripcion">
                        <b>Producto</b><br>
                        $$$$$$</br>
                        <br>
                        <a class="comprar" href="/">Comprar</a>
                        <a class="ver" href="/productos">Ver</a>
                    </div>
                </div>
                <div class="productos">
                    <div class="cuerpo-tarjeta">
                        <div class="foto">
                            <img src="/img/ropa/ropa 3.JPG" alt="">
                        </div>
                        <div class="descripcion">
                            <b>Producto</b><br>
                            $$$$$$</br>
                            <br>
                            <a class="comprar" href="#">Comprar</a>
                            <a class="ver" href="#">Ver</a>
                        </div>
                    </div>
                    <div class="productos">
                        <div class="cuerpo-tarjeta">
                            <div class="foto">
                                <img src="/img/cuchas/cucha 4.JPG" alt="">
                            </div>
                            <div class="descripcion">
                                <b>Producto</b><br>
                                $$$$$$</br>
                                <br>
                                <a class="comprar" href="#">Comprar</a>
                                <a class="ver" href="#">Ver</a>
                            </div>
                        </div>
                        <div class="productos">
                            <div class="cuerpo-tarjeta">
                                <div class="foto">
                                    <img src="/img/collares/pretal 3.JPG" alt="">
                                </div>
                                <div class="descripcion">
                                    <b>Producto</b><br>
                                    $$$$$$</br>
                                    <br>
                                    <a class="comprar" href="#">Comprar</a>
                                    <a class="ver" href="#">Ver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="ofertas">
            <h3>OFERTAS</h3>
            <div class="productos">
                <div class="cuerpo-tarjeta">
                    <div class="foto">
                        <img src="/img/ropa/ropa 12.JPG" alt="">
                    </div>
                    <div class="descripcion">
                        <b>Producto</b><br>
                        $$$$$$</br>
                        <br>
                        <a class="comprar" href="#">Comprar</a>
                        <a class="ver" href="#">Ver</a>
                    </div>
                </div>
                <div class="productos">
                    <div class="cuerpo-tarjeta">
                        <div class="foto">
                            <img src="/img/cuchas/cucha 2.JPG" alt="">
                        </div>
                        <div class="descripcion">
                            <b>Producto</b><br>
                            $$$$$$</br>
                            <br>
                            <a class="comprar" href="#">Comprar</a>
                            <a class="ver" href="#">Ver</a>
                        </div>
                    </div>
                    <div class="productos">
                        <div class="cuerpo-tarjeta">
                            <div class="foto">
                                <img src="/img/collares/collar 6.JPG" alt="">
                            </div>
                            <div class="descripcion">
                                <b>Producto</b><br>
                                $$$$$$</br>
                                <br>
                                <a class="comprar" href="#">Comprar</a>
                                <a class="ver" href="#">Ver</a>
                            </div>
                        </div>
                        <div class="productos">
                            <div class="cuerpo-tarjeta">
                                <div class="foto">
                                    <img src="/img/ropa/ropa 11.JPG" alt="">
                                </div>
                                <div class="descripcion">
                                    <b>Producto</b><br>
                                    $$$$$$</br>
                                    <br>
                                    <a class="comprar" href="#">Comprar</a>
                                    <a class="ver" href="#">Ver</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        </section>
    </main>
    <!--CORREO-------------------------------------------------->
    <section class="correo">
        <div class="caja-correo">
            <h3>RECIBI TODAS LAS OFERTAS</h3>
            <p>¿Quieres recibir nuestras ofertas? ¡Registrate ya mismo y comenzá a disfrutarlas!</p>
            <div class="email-formpart">
                <form class="form-email" action="" method="GET">
                    <input type="email" name="correo" class="input" id="correo" placeholder="Tu email">
                    <button type="submit" class="submit"><i class="fas fa-arrow-right"></i></button>
                </form>
            </div>
        </div>
    </section>
</body>

</html>